@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueceu a senha confirmação";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor verifique seu email para criar uma nova senha.
</p>
