@model Genre

<form method="post">
    <input hidden asp-for="Id"/>
    <div class="border p-4 mt-4">
        <div class="row form-group">
            <h2>Editar Gênero</h2>
            <hr />
        </div>
        <div class="row p-3">
            <div class="form-group p-3 col-12">
                <label asp-for="Name" for="genreName"></label>
                <input asp-for="Name" class="form-control" id="genreName" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-6 col-md-3">
                <a asp-controller="Genre" asp-action="Index" class="btn btn-outline-danger form-control">Voltar</a>
            </div>
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-success btn-group-lg text-center form-control">Editar</button>
            </div>
        </div>
    </div>
</form>