@model List<Anime>

<div class="container">
    <div class="row pt-4 pr-4">
        <div class="col-6">
            <h1>Animes</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Anime" asp-area="Admin" asp-action="Upsert" class="btn btn-primary">Criar Anime</a>
        </div>
    </div>
</div>
<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Anime</th>
            <th>Data de Início</th>
            <th>Data de encerramento</th>
            <th>Número de episódios</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    
</table>

@section Scripts{
    <script src="~/js/anime.js"></script>
}